.planps-maindiv {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .planps-maindiv {
        display: flex;
        flex-direction: column;
    }
}


.planps-imgdiv {
    text-align: center;
    float: left;
    justify-content: center;
    position: relative;
    display: block;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
}

.planps-imgtxt {
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color: white;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
    margin-top: 125px;
}


.planps-htxt {
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    color: white;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 1px 1px 1px #111111;
}

.planps-txtdiv {
    background-color: rgba(20, 20, 20, 0.7);
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: center;
    text-align: center;
}

.planps-ptxt {
    font-size: 21px;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}